postgres_data
postgres_data/
**/postgres_data
**/postgres_data/
postgres_data_old
**/__pycache__
*.pyc
*.pyo
*.pyd
.env
.db.sqlite3
.vscode/
.git/
.gitignore
venv/
venv_sigetsop/
media/
static/
temp_uploads/
environment.yml
*.log
