VITE_SERVER_IP=192.168.1.17
# Direct connection to Django Dev Server
# Keep API without trailing slash to avoid // in Axios
VITE_API_URL=http://192.168.1.17:6090/api
VITE_IP_URL=192.168.1.17
# Restore trailing slash for WS as per Routing flexibility
VITE_WS_URL=ws://192.168.1.17:6090/ws/notifications/
VITE_SOCKET_URL=http://192.168.1.17:6090/api
